
/* Large Layout */
@media only screen and (min-width:991.98px) and (max-width:5000px) {
.navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
	display: inline !important;
	text-align: right
}
.navbar-expand-lg .navbar-collapse {
	display: inline !important
}
}

/* Desktop Layout */
@media only screen and (max-width:1199.98px) {
.introduction-img:after {
	right: 25px;
}
.introduction-img:before {
	bottom: 70px;
}
}

/* Desktop or Tablet Layout */
@media only screen and (max-width:991.98px) {
.sticky-menu {
	background: #22313C;
	box-shadow: 0 1px 20px -3px rgba(0,0,0,0.6);
}
.navbar-collapse {
	background: #22313C;
	margin-top: 2px;
	text-align: center
}
.sticky-menu {
	padding: 0
}
.sticky-menu .navbar-dark .navbar-nav .nav-link {
	color: #ccc
}
.navbar-toggler {
	border-radius: 0;
	height: 40px;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-dark .navbar-nav .nav-link {
	padding: 15px;
	font-weight: 300
}
.sticky-menu .navbar-toggler {
	width: auto;
	border-radius: 0;
	height: auto;
	font-size: 16px;
	line-height: 25px
}
.sticky-menu .navbar-brand {
	color: #fff !important;
}
.sticky-menu .navbar-brand:hover {
	color: #eee
}
.sticky-menu .navbar-collapse {
	border-top: 1px solid #273845;
	margin-top: 10px;
}
.navbar-dark .navbar-brand {
	letter-spacing: 0.5px
}
.introduction {
	text-align: center;
}
.fact-counter .counter {
	margin: 15px 0
}
.contact-list {
	padding: 25px 0
}
}

/* Tablet Layout */
@media only screen and (max-width:767.98px) {
.services {
	padding-bottom: 80px;
}
.services .row {
	margin-top: 40px;
}
.services .col-lg-4 {
	max-height: 100%;
	min-height: 100%;
}
.portfolio-controls ul {
	text-align: center
}
.portfolio-controls ul li {
	line-height: 53px;
}
.contact-from {
	text-align: left;
	margin-top: 20px;
}
.contact-from .col-12 {
	margin: 7px 0
}
.contact-from .form-group {
	margin-bottom: 0
}
.contact-from .button {
	margin-top: 15px;
}
}

/* Large Mobile Layout */
@media only screen and (max-width:576px) {
.scroll-down {
	bottom: 15px;
}
.introduction .button {
	margin-top: 40px;
}
.service-block {
	padding: 40px 35px
}
.fact-counter .counter {
	border: 0
}
}

/* Small Mobile Layout */
@media only screen and (max-width:480px) {
.profile-info h2 {
	font-size: 35px;
	line-height: 50px;
}
.introduction .button {
	margin-top: 20px;
}
.portfolio-controls ul li {
	display: block;
	line-height: 30px;
}
}

/* Small Mobile Layout */
@media only screen and (max-width:380px) {
.title h2 span {
	display: block
}
}
